@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TASA+Explorer:wght@400..800&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  
}
.wrapper {
  width: 1024px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

/*
* menu
*/

nav {
  background-color: #27496d;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav > .wrapper {
  justify-content: space-between;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.menu {
  width: 50%;
}

.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  height: 60px;
}

/*
* hero / jumbotron
*/

header {
  background: url('Assets/img/Hero.avif');
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'TASA Explorer', sans-serif;
  letter-spacing: 5px;
  text-shadow: 0 0 4px #000;
}

#home {
  background-color: #222831;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.header-jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header-jumbotron > h4 {
  color: #fdf402;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}

.header-jumbotron > h5 {
  color: #fff;
  margin: 0px;
  padding: 5px;
  font-size: 3.5rem;
  line-height: 4rem;
  text-transform: uppercase;
}

.header-jumbotron > p {
  padding: 5px;
  margin: 0px 5px 20px 5px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #333;
  text-shadow: none;
}

.button {
  background-color: #fdf402;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
}

.button-xl {
  font-size: 1.4rem;
  padding: 20px;
}

/*
* statistic
*/
#statistic {
  background-color: #393e46;
  color: #fff;
  font-family: 'Anton', sans-serif;
}

#statistic > .wrapper {
  padding: 50px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

#statistic > .wrapper > div {
  text-align: center;
}

#statistic > .wrapper > div > p {
  font-size: 3.5rem;
  margin: 0px;
  padding: 0px;
}

#statistic > .wrapper > div > p > i {
  margin-right: 10px;
  font-size: 3.5rem;
}

#statistic > .wrapper > div > small {
  font-size: 1.5rem;
}

/*
* Game
*/

#Game {
  background-color: #27496d;
  color: #fff;
}

#Game > .wrapper {
  padding: 50px 0px 50px 0px;
}

#Game > .wrapper > h4 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Sans', sans-serif;
}

#Game > .wrapper > h4 > span {
  color: #fdf402;
}

#Game > .wrapper > p {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 50px;
  /* grid-auto-flow: column; */
}

.grid > .item {
  border: 1px solid #666;
  background-color: #393e46;
  border-radius: 5px;
  position: relative;
}

.grid > .item > img {
  width: 20%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.grid > .item > .item-detail {
  padding: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 70%;
}

.grid > .item > .item-detail > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.grid > .item > .item-detail > div > small {
  color: #ccc;
  font-size: 1rem;
  font-style: italic;
}

.grid > .item > .item-detail > div > a {
  font-size: 1rem;
}

/*
* about
*/

#about {
  background-color: #eeeeee;
  color: #333;
}

#about > .wrapper {
  padding: 50px 0px 50px 0px;
}

#about > .wrapper > h4 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Sans', sans-serif;
}

#about > .wrapper > p {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

#about > .wrapper > div {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#about > .wrapper > div > .foto > img {
  max-width: 100%;
}

#about > .wrapper > div > .desc {
  width: 70%;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
}

#about > .wrapper > div > .desc > .p {
  margin: 0px 0px 10px 0px;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

#about > .wrapper > div > .desc > .social {
  display: flex;
  width: 30%;
  justify-content: space-between;
  font-size: 1.3rem;
}

#about > .wrapper > div > .desc > .social > a {
  color: #00adb5;
}

/*
* project
*/
#project {
  background-color: #27496d;
  padding: 20px 0px 20px 0px;
  color: #fff;
}

#project > .wrapper {
  padding: 50px 0px 50px 0px;
}

#project > .wrapper > h4 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Sans', sans-serif;
}

#project > .wrapper > h4 > span {
  color: #fdf402;
}

#project > .wrapper > p {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

#project > .wrapper > .grid > .item {
  background-color: #222831;
  margin: 0px;
  padding: 0px;
}

#project > .wrapper > .grid > .item > .item-detail {
  padding: 0px;
  margin: 0px;
  font-size: 1.4rem;
  width: 100%;
}

#project > .wrapper > .grid > .item > .item-detail > img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#project > .wrapper > .grid > .item > .item-detail > div {
  padding: 10px 20px 10px 20px;
}

/*
* Services
*/

#services {
  background-color: #222831;
}

#services .container {
  margin-top: px;
}

#services .container .row .section-title h2 {
text-align: center;
  font-size: 2.5rem;
  margin: 0px;
  padding: 35px;
  font-family: "Fira Sans",sans-serif;
  color: #fff;
}

#services .container .row .section-title h2 span {
  color: #fdf402;
}


#services .services-item {
 /* margin-bottom: 20px; */
  padding: 50px;
  flex-direction: column;
  margin-top: -1px;
  max-width: 100%;
  
}

#services .services-item .services-item-inner {
  background-color: #fdf9ff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}

#services .services-item .services-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

#services .services-item .services-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  background-color: #27496d;
  margin: 0 auto 30px;
  text-align: center;
}

#services .services-item .services-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}

/*
  * Contact
  */

#contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #27496d;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 5px;
  font-family: 'TASA Explorer', sans-serif;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500px;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

.contact-left button img {
  height: 15px;
}

/* .contact-right img {
  width: 500px;
} */

/*
* copyright
*/

footer {
  background-color: #222831;
  color: #fff;
  text-align: center;
}

.footer > .wrapper {
  padding: 50px 0px 50px 0px;
 
}

/*
* hamburger menu
*/

button.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none ;
}

button.hamburger-menu > i {
  color: #fff;
  font-size: 1.5rem;
}

button.hamburger-menu > i.icon-close {
  display: none;
}

/*
* 1024,900,768,576
*/

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
    #statistic > .wrapper > div > p {
  font-size: 2.5rem;
  margin: 0px;
  padding: 0px;
}

#statistic > .wrapper > div > p > i {
    font-size: 2.5rem;
}

#statistic > .wrapper > div > p  small{
    font-size: 1rem;
}

.grid {
    grid-template-columns: 45% 45%;
}

.item > img {
    width: 8%;
}


}

@media only screen and (max-width:768px) {
    .menu {
        width: 60%;
    }
    .header-jumbotron > h4 {
        font-size: 1.5rem;
    }

    .header-jumbotron > h5 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .header-jumbotron > p {
        font-size: 0.8rem;

    }

    button {
        padding: 5px;
    }

    .button-xl {
        font-size: 1.2rem;
        padding: 10px; 
    }

    #statistic > .wrapper > div > p {
        font-size: 1.5rem;
        margin: 0;
    }
    
    #statistic > .wrapper > div > p {
        font-size: 1.5rem;
    }
    
    .contact-left-title h2 {
       font-size: 1.5rem;
       text-align: center;
    }

    .contact-inputs {
  width: 100%;
    }

    .contact-right img {
  width: 50%;
  padding: 100px;
  display: flex;
}

}

@media only screen and (max-width:600) {
  a {
        width: 70%;
    }
    
    .grid {
        grid-template-columns: 100%;
    }

    .grid > .item > .item-detail > div > a {
        width: 30%;
    }

    #statistic   > .wrapper {
        padding: 10px;
        flex-direction: column;
    }

    #statistic > .wrapper > div {
        display: flex;
    }

    #statistic > .wrapper > div > small {
        font-size: 1.2rem;
        padding-left: 10px;
        
    }

    #about > .wrapper > div {
        width: 100%;
        flex-direction: column;
    }

     #about > .wrapper > div  foto {
        width: 50%;
    }

     #about > .wrapper > div  foto > img {
        max-width: 100%;
    }

      #about > .wrapper > div > .desc{
        width: 70%;
        padding: 20px;
        margin: 10px;
    }

    #about > .wrapper > div > .desc > .social {
        margin: auto ;
    }

    button.hamburger-menu {
      display: inline;
    }

    .menu {
      display: none;
    }

    .tampil {
      display: inline;
    }

    .tampil ul {
      flex-direction: column;
      background-color: #27496d;
      width: 100%;
      position: fixed;
      top: 95px;
      left: 0;
    }

    .tampil ul li {
      padding: 10px 20px 10px 20px;
    }

    .contact-container {
      display: flex;
    } 
    
    .contact-left {
        padding: 1px;

     }

     .contact-left-title h2 {
       font-size: 1.2rem;
       
    }
     
    .contact-inputs {
     width: 50%;
      padding-right: 90px;
    }

}

@media only screen and (max-width:576px) {
    a {
        width: 70%;
    }
    
    .grid {
        grid-template-columns: 100%;
    }

    .grid > .item > .item-detail > div > a {
        width: 30%;
    }

    #statistic   > .wrapper {
        padding: 10px;
        flex-direction: column;
    }

    #statistic > .wrapper > div {
        display: flex;
    }

    #statistic > .wrapper > div > small {
        font-size: 1.2rem;
        padding-left: 10px;
        
    }

    #about > .wrapper > div {
        width: 100%;
        flex-direction: column;
    }

     #about > .wrapper > div  foto {
        width: 50%;
    }

     #about > .wrapper > div  foto > img {
        max-width: 100%;
    }

      #about > .wrapper > div > .desc{
        width: 70%;
        padding: 20px;
        margin: 10px;
    }

    #about > .wrapper > div > .desc > .social {
        margin: auto ;
    }

    button.hamburger-menu {
      display: inline;
    }

    .menu {
      display: none;
    }

    .tampil {
      display: inline;
    }

    .tampil ul {
      flex-direction: column;
      background-color: #27496d;
      width: 100%;
      position: fixed;
      top: 95px;
      left: 0;
    }

    .tampil ul li {
      padding: 10px 20px 10px 20px;
    }

    .contact-container {
      display: flex;
    } 
    
    .contact-left {
        padding: 1px;

     }

     .contact-left-title h2 {
       font-size: 1.2rem;
       
    }
     
    .contact-inputs {
     width: 50%;
      padding-right: 90px;
    }

}


